index.html

{{ tipo }}
{% if tipo == 'colegios' %}
	{% for col in lista %}
	    <li><a href="{% url 'asistencia:cursos' col.id %}">{{ col.nombre }}</a></li>
	{% endfor %}
{% endif %}
{% if tipo == 'cursos' %}
	{% for col in lista %}
	    <li><a href="{% url 'asistencia:lista' col.id '2015' %}">{{ col.nivel }}: {{ col.paralelo }}</a> </li>
	{% endfor %}
{% endif %}
{% if tipo == 'alumnos' %}<a href="{% url 'asistencia:pasarlista' curso_id periodo %}">Pasar Lista</a>
	{% for al in lista %}
	    <li>{{ al.rut }}</li>
	{% endfor %}
{% endif %}